<!DOCTYPE html>
<html lang="en" ng-app="motoModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Moto</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	<script src="js/angular.min.js"></script>
	<script src="control/motoControl.js"></script>


  </head>
  <body ng-controller="motoControl">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.12.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	<div ng-include="'menu.html'"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">::Cadastro de Motos::</div>
		<div class="panel-body">
			<div>
			
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
					<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a></li>
					<li role="presentation">
					<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="cadastro">
     						<form  form-horizontal name="motoForm" class="css-form" ng-submit="motoForm.$valid && salvar()" novalidate>
     						<br>
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						<div ng-show="motoForm.$submitted">
						     <div ng-show="motoForm.nome.$error.required">Preencha o nome</div>
	      				     <div ng-show="motoForm.ano.$error.required">Preencha o Ano</div>
	      				     <div ng-show="motoForm.preco.$error.required">Preencha Preço</div>	      				     
	    				</div>    				
						<br>
							<br>
								<button type="button" ng-click="novo();" class="btn btn-info">Novo</button>
								<button type="button" ng-click="salvar();" class="btn btn-success">Salvar</button>
								<button type="button" ng-click="excluir();" class="btn btn-danger">Excluir</button>
								<button type="button" ng-click="pesquisar();" class="btn btn-warning">Pesquisar</button>
							<br>
							<br>
						
							<div class="form-group">
								<label for="codigo" class="col-sm-1 control-label">Código</label>
								<div class="col-sm-2">
									<input type="number" disabled="true" class="form-control" ng-model="moto.codigo" name="codigo" placeholder="Código">
								</div>
								<br>
								<br>
							</div>
							<div class="form-group">
								<label for="nome" class="col-sm-1 control-label">Nome</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" ng-model="moto.nome" name="nome" placeholder="Nome" required/>
								</div>
								<br>
							    <br>
							</div>    
						   <div class="form-group">
								<label for="marca" class="col-sm-1 control-label" placeholder="Seleciona a Marca">Marca</label>
								<div class="col-sm-5">
								<select class="form-control" name="marca"
			    					ng-model="motoMarcaSelecionado"
									ng-options="moto.nome for moto in motos track by moto.nome"
									ng-change="alteramarcasRetorno()" >
								</select>
							   </div>
						    </div>	
						    <br>
							<br>   
							<div class="form-group">
								<label for="ano" class="col-sm-1 control-label">Ano</label>
								<div class="col-sm-1">
									<input type="text" class="form-control" ng-model="moto.ano" name="ano" placeholder="Ano">
								</div>
								<br>
							   <br>
							</div>
							<div class="form-group">
								<label for="preco" class="col-sm-1 control-label">Preço</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="moto.preco" name="preco" placeholder="Preço">
								</div>
							</div>
								
							
						</form>
					
					
					</div>
					
					<div role="tabpanel" class="tab-pane" id="dados"><br>
						<input type="text" class="form-control" ng-model="criterio" placeholder="O que você está procurando?"/><br>
						
						<table class="table table-hover">
							<th>Código:</th>
							<th>Nome:</th>
							<th>Marca:</th>
							<th>Ano:</th>
							<th>Preco:</th>
							
			    		<tr ng-repeat="motoTabela in motos | filter:criterio" ng-click="seleciona(motoTabela);">
								<td>{{motoTabela.codigo}}</td>
								<td>{{motoTabela.nome}}</td>
								<td>{{motoTabela.marca}}</td>
								<td>{{motoTabela.ano}}</td>
								<td>{{motoTabela.preco}}</td>
							</tr>
						</table>
					</div>
					
				</div>

			</div>
		</div>
	</div>

  </body>
</html>